.data-file {
  padding-bottom: 0;
}

.data-file__header {
  padding-top: var(--space-lg);
}

.data-file__header {
  padding-top: var(--space-lg);
  margin-bottom: var(--space-md);
  position: sticky;
  top: 0;
}

.data-file__content {
  padding-top: var(--space-md);
}

.data-file a {
  display: inline-block;
  text-decoration: none;
  transition: color .25s;
}

.data-file a:after {
  display: block;
  width: 100%;
  height: 1px;
  transition: width 0.25s;
  content: '';
  border-bottom: 1px solid;
}

.data-file a:hover:after {
  width: 0%;
}
