/* Page footer */

.footer {
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
  padding-left: 0;
  padding-right: 0;
}

.footer ul {
  font-size: var(--typescale-6);
  line-height: 3;
}

.footer a {
  text-decoration: none;
  color: var(--white);
}

.footer svg {
  display: block;
  width: 100%;
  height: auto;
}

.footer .col--1of2 {
  flex-basis: 50%;
  max-width: 50%;
}

.footer__logo {
  display: block;
  margin-bottom: var(--space-lg);
  background-color: var(--azure);
}

@media only screen and (max-width: 1023px) {
  .footer__legal ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  .footer__sitemap {
    margin-bottom: var(--space-md);
    background-image:
      linear-gradient(90deg, transparent, transparent 16.6666667%, var(--white-25) 16.6666667%, transparent calc(16.6666667% + 1.5px)),
      linear-gradient(90deg, transparent, transparent 33.3333333%, var(--white-25) 33.3333333%, transparent calc(33.3333333% + 1.5px)),
      linear-gradient(90deg, transparent, transparent 50%, var(--white-25) 50%, transparent calc(50% + 1.5px)),
      linear-gradient(90deg, transparent, transparent calc(66.6666667% - 1.5px), var(--white-25) 66.6666667%, transparent 0),
      linear-gradient(90deg, transparent, transparent calc(83.3333333% - 1.5px), var(--white-25) 83.3333333%, transparent 0);
  }
}
