*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--black);
  color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
}

article {
  display: block;
}

ul, ol {
  margin-bottom: var(--space-md);
}

table {
  table-layout: fixed;
  font-size: var(--typescale-6);
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  text-align: left;
}

tr {
  border-bottom: 1px solid var(--light-grey);
}

tr:last-child {
  border: 0;
}

th, td {
  padding: var(--space-sm) var(--space-md) var(--space-sm) 0;
  width: 1%;
  vertical-align: top;
}

figure {
  margin: 0;
}

figcaption {
  padding: var(--space-xs);
}

iframe {
  width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

em, i {
  font-style: italic;
  font-variation-settings: 'slnt' -1;
}

strong, b {
  font-weight: 600;
  font-variation-settings: 'wght' 600;
}

blockquote {
  margin: 0 0 var(--space-sm) 0;
}

cite {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width:  100%;
  height: auto;
}

svg {
  display: block;
}

hr {
  border: 1px solid;
  width: 50vw;
}

dd {
  margin: 0 0 var(--space-md) 0;
}

summary {
  cursor: pointer;
}
