.homepage__cover {
  margin: 0 var(--gutter-negative);
  padding: 0 var(--gutter);
  overflow-x: hidden;
  background: url('../img/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
}
