.portrait {
  margin-bottom: var(--gutter-negative);
  max-height: 30vh;
  width: auto;
  align-self: flex-end;
}

@media only screen and (min-width: 1024px) {
  .portrait {
    max-height: fit-content;
    align-self: center;
  }
}

.portrait--circular {
  margin-bottom: var(--space-md);
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.portrait--circular img {
  border-radius: 50%;
}
