.section {
  margin-left: calc(var(--gutter-negative) * 5);
  margin-right: calc(var(--gutter-negative) * 5);
  padding: calc(5 * var(--gutter)) calc(var(--gutter) * 5);
}

@media only screen and (min-width: 768px) {
  .section {
    margin-left: var(--gutter-negative);
    margin-right: var(--gutter-negative);
    padding: calc(3 * var(--gutter)) calc(4 * var(--gutter));
  }
}

.section__header {
  margin-bottom: var(--space-xl);
}

.section--horizontal {
  padding: 0;
}

@media only screen and (min-width: 768px) {

  .section--horizontal  {
    padding: 0 calc(var(--gutter));
  }
}
