.section {
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
  padding: var(--gutter);
}

.section__header {
  margin-bottom: var(--space-xl);
}

.section--cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  background-color: transparent;
}
