---
layout: base.html
theme: dark
data_file: about
title: About
---

{% include 'about_header.html' %}

<section class="section section--inverted section--third">
  <div class="row">
    <header class="col col--1of4" data-aos="fade-up">
      <h2>{{ about.heading_1 }}</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="100">
      {{ about.content_1 }}
    </p>
    <header class="col col--1of4" data-aos="fade-up" data-aos-delay="200">
      <h2>{{ about.heading_2 }}</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="300">
      {{ about.content_2 }}
    </p>
  </div>
</section>

<section class="section">
  <div class="row row--centered">
    <div class="col col--1of2" data-aos="fade-up">
      <h1>Our mission</h1>
      <p>
        Suspendisse porttitor congue ligula, nec sollicitudin odio finibus ut. Nunc eu tellus eu est consectetur congue non a lorem. Sed sapien dui, feugiat blandit tempor nec, tempus vel magna. Suspendisse orci urna, congue fermentum mauris at, ullamcorper auctor enim. Suspendisse potenti. Donec sapien ipsum, suscipit eget porttitor quis, cursus quis dolor. Nunc id ex tristique, sodales mauris a, tristique sem. Phasellus laoreet tortor et nulla rhoncus blandit. Nam luctus posuere nulla, a suscipit orci volutpat non.
      </p>
      <ul style="margin-bottom: var(--space-md); list-style: disc; padding-left: var(--space-sm);">
        <li>Praesent tempor ex sollicitudin eros condimentum viverra.</li>
        <li>Proin egestas purus et arcu fermentum posuere.</li>
        <li>Suspendisse euismod arcu sed tristique laoreet.</li>
        <li>Maecenas a leo id nisl condimentum rutrum non sed ante.</li>
      </ul>
      <p>
        Suspendisse porttitor congue ligula, nec sollicitudin odio finibus ut. Nunc eu tellus eu est consectetur congue non a lorem. Sed sapien dui, feugiat blandit tempor nec, tempus vel magna. Suspendisse orci urna, congue fermentum mauris at, ullamcorper auctor enim. Suspendisse potenti. Donec sapien ipsum, suscipit eget porttitor quis, cursus quis dolor. Nunc id ex tristique, sodales mauris a, tristique sem. Phasellus laoreet tortor et nulla rhoncus blandit. Nam luctus posuere nulla, a suscipit orci volutpat non.
      </p>
    </div>
  </div>
</section>

{% include 'stories.html' %}
