---
layout: base.html
theme: dark
title: By the numbers
---

{% include 'about_header.html' %}

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3">
      <h1 style="margin-top: var(--space-sm); font-family: var(--serif);" data-aos="fade-up">By the numbers</h1>
      <p>Our impact on open access.</p>
    </header>

    <ul class="row col col--2of3">
      {% assign delay_count = 0 %}
      {% for stat in stats %}
      {% assign delay_count = delay_count | plus: 300 %}
      <li class="col col--1of2" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <article class="card card--small">
          <header class="card__header card__header--plain">
            <span style="font-weight: 700; letter-spacing: -0.015em; font-size: var(--typescale-2);">{{ stat.value }}</span><br/>
            <span style="font-family: var(--serif);">{{ stat.key }}</span>
          </header>
          <div class="card__body">
            {{ stat.desc }}
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'stories.html' %}
