---
layout: base.html
theme: dark
---

<header style="margin-top: var(--space-md); color: var(--white);">
  <h1>About</h1>

  <nav>
    <ul class="tabs">
      <li class="tab">
        <a href="/about">About</a>
      </li>
      <li class="tab">
        <a href="/values">Our Values</a>
      </li>
      <li class="tab tab--active">
        <a href="/by-the-numbers">By the Numbers</a>
      </li>
      <li class="tab">
        <a href="/team">Team</a>
      </li>
    </ul>
  </nav>
</header>

<!-- We began with author requests—ways to reach out directly to scholars for help accessing their research using Open Access Button.

We wanted to do more, and knew big deals were hurting libraries, so we made interlibrary loan fast and simple with InstantILL.

Repositories were our next target, and we knew depositing papers could be done painlessly and legally—if we did it right. So we made ShareYourPaper.
Along the way we happened to build the best permissions checker in the world, and OARights can now give you immediate insight into the status of 10,000 open access policies.

Over the journey we've worked hand in hand with libraries, who have guided us and made our products work better to fit their needs.
We could not have come this far without funding and inspiration from Arcadia Fund, Jisc, the Open Society Foundations, Center for Open Science, and SPARC.

We are tirelessly working towards more tools that realize the vision of open access through better design and development. We have hope for the future and we realize the best way to bring it about is to build it. -->

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3">
      <h2 style="margin-top: var(--space-sm); font-family: var(--serif);" data-aos="fade-up">OA.Works by the numbers</h2>
      [Some photograph here maybe]
    </header>

    <ul class="row col col--2of3">
      {% assign delay_count = 0 %}
      {% for stat in stats %}
      {% assign delay_count = delay_count | plus: 300 %}
      <li class="col col--1of2" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <article class="card card--small">
          <header class="card__header card__header--plain">
            <span style="font-weight: 700; letter-spacing: -0.015em; font-size: var(--typescale-2);">{{ stat.value }}</span><br/>
            <span style="font-family: var(--serif);">{{ stat.key }}</span>
          </header>
          <div class="card__body">
            {{ stat.desc }}
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'stories.html' %}
