---
layout: base.html
theme: dark
title: Our funders
meta_description: Our work is sustainable thanks to the financial support of grantmakers, our partners, and users.
---
<!-- THIS IS TERRIBLE. JUST A STUB FOR NOW TO AID FEELING OUT OF NAV / CONTENT -->

{% include 'about_header.html' %}

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3" data-aos="fade-up">
      <h1 style="margin-top: var(--space-sm);">{{ title }}</h1>
      <p>{{ meta_description }}</p>
    </header>
  <a href="https://www.arcadiafund.org.uk/" target="_blank" rel="noopener" style="display: block;">
    {% include 'logos/arcadia.svg' %}
  </a>
</div>
</section>
