---
layout: about.html
theme: dark
title: Funders
meta_description: Our work is sustainable thanks to the financial support of grantmakers, our partners, and users.
---

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3" data-aos="fade-up">
      <h1 style="margin-top: var(--space-sm);">{{ title }}</h1>
      <p>{{ meta_description }}</p>
    </header>

    <ul class="row col col--2of3">
      {% assign delay_count = 0 %}
      {% for funder in funders %}
      {% assign delay_count = delay_count | plus: 100 %}
      <li class="col col--1of2" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <a href="{{ funder.url }}" target="_blank" rel="noopener" title="Go to {{ funder.name }}’s site" style="display: block;">
          {% include {{ funder.logo }} %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
