---
layout: base.html
theme: dark
title: Our History
---

{% include 'about_header.html' %}

<section class="section section--inverted section--third">
  <div class="row">
    <header class="col col--1of4" data-aos="fade-up">
      <h2>Established in 2013</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="100">
      We got our start as the Open Access Button, but as our tools grew, so did we. OA.Works is now the home of our tools.
    </p>

    <header class="col col--1of4" data-aos="fade-up" data-aos-delay="200">
      <h2>Started by students, sustained by a community</h2>
    </header>
    <p class="col col--1of4" data-aos="fade-up" data-aos-delay="300">
      The daily frustration of hitting paywalls as researchers and learners got us started, but we're here today thanks to the efforts of a global community.
    </p>
  </div>
</section>

<section class="section markdown">
  <div class="row row--centered">
    <div class="col col--1of2" data-aos="fade-up">

      <h1>Our History</h1>

      <p>
        From the beginning, we've wanted to do more than just chronicle the failures of the information age. We dreamed to join the activists and leaders working to rectify them.
      </p>
      <p>
        We started our journey by facilitating author requests--ways to reach out directly to scholars for help accessing their research--using Open Access Button.
      </p>
      <p>
        For our second project we tried to shift the gears of the larger system, knowing big deals are continuing to hurt libraries. We crafted InstantILL, a frontend for interlibrary loan that can lead to faster and simpler sharing, in order to help put an end to the era of big deals.
      </p>
      <p>
        Repositories were our next focus, and we truly believed depositing papers could be done painlessly--and legally. We made ShareYourPaper.org with the goal of doubling self-archive rates in the next decade.
      </p>
      <p>
        Along the way our team carefully collated an up-to-date database of sharing permissions that can give immediate insight into the status of 25,000 open access policies.
      </p>
      <p>
        Over the course of our journey we've worked hand in hand with libraries, who have guided us and helped ensure our products work better to fit their needs.
      </p>
      <p>
        We could not have come this far without funding and inspiration from Arcadia Fund, Jisc, the Open Society Foundations, Center for Open Science, and SPARC.
      </p>
      <p>
        We are constantly working towards more tools that realize the vision of open access through better design and development. We have hope for the future, and we believe the best way to bring it about is to build it.
      </p>
    </div>
  </div>
</section>

{% include 'stories.html' %}
