---
layout: about.html
theme: dark
data_file: stats
title: Impact
meta_description: "Many small changes add up to a more just system."
---

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3" data-aos="fade-up">
      <h1 style="margin-top: var(--space-sm);">{{ title }}</h1>
      <p>{{ meta_description }}</p>
    </header>

    <ul class="row col col--2of3">
      {% assign delay_count = 0 %}
      {% for stat in stats %}
      {% assign delay_count = delay_count | plus: 100 %}
      <li class="col col--1of2" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <article class="card card--small">
          <header class="card__header card__header--plain">
            <span style="font-weight: 700; letter-spacing: -0.015em; font-size: var(--typescale-2);">{{ stat.value }}</span><br/>
            <span class="font-serif">{{ stat.key }}</span>
          </header>
          <div class="card__body">
            {{ stat.desc }}
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'stories.html' %}
