---
layout: "layouts/base.liquid"
---

<section class="section section--cover" style="color: var(--white);">
  <div class="row">
    <div class="col col--1of2">
      <p class="bg-black-85 label" data-aos="fade-up">
        {{ site.lede }}
        <!-- <sup>
          <small class="font-sans">
            <a href="https://github.com/OAButton/oa-works/blob/main/_data/site.json" target="_blank" rel="noopener" style="color: var(--white);">Edit</a>
          </small>
        </sup> -->
      </p>
      <h2 class="bg-black-85 font-sans" data-aos="fade-up" data-aos-delay="50">{{ site.tagline }}</h2>
      <p class="bg-black-85" data-aos="fade-up" data-aos-delay="100">{{ site.description }}</p>
      <p style="margin-top: var(--space-xxl);">
        <a href="#products" class="button button--primary" style=" --initialTextColor: var(--black); --slideTextColor: var(--white); --initialBgColor: var(--white); --slideBgColor: var(--azure);" data-aos="fade-up" data-aos-delay="150">{{ site.cta }}</a>
      </p>
      <svg width="905" height="211" viewBox="0 0 905 211" fill="none" xmlns="http://www.w3.org/2000/svg" data-llp-composed="true" id="introsquiggle" class="lazy-line-painter" style="position: fixed; bottom: 5vh; left: -5vw; z-index: -1; transform: scaleX(-1);">
        <path d="M76 105.5C130.333 64.8333 184.667 64.8333 239 105.5C293.333 146.167 347.667 146.167 402 105.5C456.333 64.8333 510.667 64.8333 565 105.5C619.333 146.167 673.667 146.167 728 105.5C782.333 64.8333 836.667 64.8333 891 105.5" data-llp-id="introsquiggle-0" data-llp-duration="2500" data-llp-delay="0" fill-opacity="0" stroke-opacity="0"/>
      </svg>
    </div>
  </div>
</section>

<section id="products" class="section bg-white" data-aos="fade-up">
  <h2>
    Products
    <!-- <sup>
      <small class="font-sans">
        <a href="https://github.com/OAButton/oa-works/blob/main/_data/products.json" target="_blank" rel="noopener">Edit</a>
      </small>
    </sup> -->
  </h2>
  <ul class="no-margin bg-white products">
    {% include 'embeds.css' %}
    {% for product in products %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <li class="row" style="background-color: var(--{{ product.colour }}-tint); padding-top: calc(var(--gutter) * 2)" data-aos="fade-up">
      {% include 'snippets/product_description.liquid'%}
      <aside class="col col--1of2 flex-center flex-col">
        <article class="card" style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;">
          <header class="card__header bg-black">
            <a href="{{ product.url }}"
               target="_blank"
               rel="noopener"
               title="Go to {{ product.name }} site"
               class="flex-space-between"
            >
              {% include product.logo %}
              <strong>↗</strong>
            </a>
          </header>
          <div class="card__body flex-center" style="height: 45vh; background: var(--white); overflow-y: scroll;">
            {{ product.embed }}
          </div>
        </article>
      </aside>
    </li>
    {% endfor %}
  </ul>
</section>

<aside class="row bg-white aside">
  <div class="col">
    <h2 class="font-serif label flex-center" data-aos="fade-up">In partnership with</h2>
    <ul class="row unstyled-list flex-center">
      {% assign delay_count = 0 %}
      {% for partner in partners %}
      {% assign delay_count = delay_count | plus: 50 %}
      <li class="col col--1of3 flex-center" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <a href="{{ partner.url }}" title="{{ partner.name }}’s site" target="_blank" rel="noopener" class="bw" style="display: block; margin-top: var(--space-md);">
          {% include partner.logo %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</aside>

<section class="section section--half bg-black" style="padding-bottom: 0;" data-aos="fade-up">
  <h2 class="sr-only">Testimonials</h2>
  <ul class="no-margin testimonials">
    {% for t in testimonials %}
    <li class="row row--centered flex-end testimonial" style="display: none;">
      <article class="col col--2of4 flex-center flex-col">
        <h3 class="label">Our partner for {{ t.product }}</h3>
        <blockquote>
          <p class="type-5">“{{ t.quote }}”</p>
          <a href="{{ t.aff_url }}" target="_blank" rel="noopener" style="display: block;">
            {% include t.aff_logo %}
          </a>
          <p class="type-6">
            <cite>
              — {{ t.name }} <br/>{{ t.role }}
            </cite>
          </p>
        </blockquote>
      </article>
      <figure class="col col--1of4 flex-end flex-col">
        <img class="portrait" src="img/{{ t.img }}"/>
      </figure>
    </li>
    {% endfor %}
  </ul>
</section>


<section class="section section--three-quarter bg-white" data-aos="fade-up">
  <h2 class="font-serif">Latest updates</h2>
  <ul class="row flex-center">
    {% assign delay_count = 0 %}
    {% for post in posts limit:3 %}
    {% assign delay_count = delay_count | plus: 50 %}
    <li class="col col--1of3 bg-pattern" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
      <article class="card card--small">
        <a href="https://blog.openaccessbutton.org/{{ post.slug }}/" target="_blank" rel="noopener" style="display: block;">
          <h3 class="card__header bg-white label label--secondary">{{ post.title }}</h3>
          <div class="card__body" style="padding: 0;">
            {%- if post.feature_image -%}
              <img src="{{ post.feature_image }}" class="card__img"/>
            {% else %}
              <div class="card__blank bg-pattern__child"></div>
            {% endif %}
          </div>
          <footer class="card__footer card__footer--inverted" style="padding: var(--space-xs);">
            <time datetime="{{ post.updated_at }}"><small>{{ post.updated_at | date: "%b %d, %Y" }}</small></time>
          </footer>
        </a>
      </article>
    </li>
    {% endfor %}
  </ul>

  <div class="row row--centered" data-aos="fade-up">
    <div class="col col--1of2">
      <article class="card card--small">
        <h3 class="card__header bg-black label">{{ about.journey_heading }}</h3>
        <div class="card__body">
          <p>{{ about.journey_content }}</p>
          <!-- <p>
            <a href="https://github.com/OAButton/oa-works/blob/main/_data/about.json" target="_blank" rel="noopener">Edit</a>
          </p> -->
        </div>
        <div class="card__footer">
          <a href="/about/">{{ about.journey_cta }}</a>
        </div>
      </article>
    </div>
  </div>
</section>

{% include 'snippets/stories.liquid' %}

{% block extra_js %}
<script>
  // Randomly display testimonials
  var testimonials = document.getElementsByClassName("testimonial");
  var random = Math.floor(Math.random() * testimonials.length);

  for(var i = 0; i < testimonials.length; i++){
    testimonials[i].style.display = (i==random) ? "flex" : "none";
  };

  // Paint SVGs
  document.onreadystatechange = function() {
    if (document.readyState === 'complete') {
      let el1 = document.querySelector('#introellipse');
      let myAnimation1 = new LazyLinePainter(el1, {"ease":"easeInOutCubic","strokeWidth":70,"strokeOpacity":1,"strokeColor":"#0075FF","strokeCap":"square"});
      myAnimation1.paint();

      let el2 = document.querySelector('#introtriangle');
      let myAnimation2 = new LazyLinePainter(el2, {"ease":"easeInOutCubic","strokeWidth":70,"strokeOpacity":1,"strokeColor":"#00FFD1","strokeCap":"square","delay":500});
      myAnimation2.paint();

      let el3 = document.querySelector('#introsquiggle');
      let myAnimation3 = new LazyLinePainter(el3, {"ease":"easeInOutCubic","strokeWidth":60,"strokeOpacity":1,"strokeColor":"#DBFF00","strokeCap":"square","delay":1500});
      myAnimation3.paint();
    }
  }
</script>
{% endblock %}
