---
permalink: main.css
---

{% comment %}
FIXME: first include doesn’t work unless it’s repeated twice here. Why??
{% endcomment %}

{% capture css %}
  {% include "css/fonts.css" %}
  {% include "css/fonts.css" %}
  {% include "css/variables.css" %}
  {% include "css/utilities.css" %}
  {% include "css/grid.css" %}
  {% include "css/typography.css" %}
  {% include "css/general.css" %}
  {% include "css/inverted.css" %}

  {% include "css/animations.css" %}
  {% include "css/buttons.css" %}
  {% include "css/cards.css" %}
  {% include "css/labels.css" %}
  {% include "css/line-thru.css" %}
  {% include "css/overlay.css" %}
  {% include "css/tabs.css" %}

  {% include "css/sections.css" %}
  {% include "css/header.css" %}
  {% include "css/footer.css" %}

  {% include "css/homepage.css" %}
{% endcapture %}

<style>
  {{ css | cssmin | safe }}
</style>
