---
layout: base.html
theme: dark
data_file: partners
title: Our Partners
meta_description: "We believe real change is only possible through deep collaboration. These are the people and institutions who guide and inspire what we hope to build."
---

{% include 'about_header.html' %}

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3" data-aos="fade-up">
      <h1 style="margin-top: var(--space-sm);">{{ title }}</h1>
      <p>{{ meta_description }}</p>
    </header>
    <ul class="row team col col--2of3">
      {% assign delay_count = 0 %}
      {% for partners in partners %}
      {% assign delay_count = delay_count | plus: 100 %}
      <li class="col col--1of3" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <article class="card card--small">
          <p class="card__header card__header--plain label">{{ partners.name }}</p>
          <div class="card__body">
            <h2 class="font-sans type-4">{{ partners.person }}</h2>
            <p>{{ partners.reason }}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'stories.html' with inverted %}
