---
layout: "layouts/about.liquid"
theme: dark
data_file: team
title: Team
meta_description: "The people behind OA.Works. We’re a small but mighty team of open advocates, advide partners, and technologists working around the world."
---

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3" data-aos="fade-up">
      <h1 style="margin-top: var(--space-sm);">{{ title }}</h1>
      <p>{{ meta_description }}</p>
    </header>
    <ul class="row team col col--2of3">
      {% assign delay_count = 0 %}
      {% for person in team %}
      {% assign delay_count = delay_count | plus: 100 %}
      <li class="col col--1of3" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <article class="card card--small">
          <p class="card__header card__header--plain label">{{ person.role }}</p>
          <div class="card__body">
            <h2 class="font-sans type-4">{{ person.name }}</h2>
            <p>{{ person.bio }}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'snippets/stories.liquid' with inverted %}
