---
layout: base.html
theme: dark
title: Team
---

{% include 'about_header.html' %}

<section class="section section--half">
  <div class="row">
    <header class="col col--1of3">
      <h1 style="margin-top: var(--space-sm); font-family: var(--serif);" data-aos="fade-up">Team</h1>
      <p>The people who are making open access work.</p>
    </header>
    <ul class="row team col col--2of3">
      {% assign delay_count = 0 %}
      {% for person in team %}
      {% assign delay_count = delay_count | plus: 300 %}
      <li class="col col--1of3" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <article class="card card--small">
          <p class="card__header card__header--plain label">{{ person.role }}</p>
          <div class="card__body">
            <h4>{{ person.name }}</h4>
            <p>{{ person.bio }}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% include 'stories.html' with inverted %}
