---
layout: base.html
theme: dark
title: Our values
meta_description: "What we stand for and what inspires our work."
---

{% include 'about_header.html' %}

<section id="values" class="section section--inverted">
  <h1 style="font-family: var(--serif);" data-aos="fade-up">Our values</h1>
  <p>What we stand for and what inspires our work.</p>
  <div class="row">
    <ol class="col col--2of3 row values" style="margin-bottom: 0;">
      {% assign delay_count = 0 %}
      {% for value in values %}
      {% assign delay_count = delay_count | plus: 300 %}
      <li class="col col--1of2" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
        <p class="label label--secondary line-thru" style="margin-bottom: var(--space-xs); color: var(--light-grey);">
          <small class="line-thru__inner">{{ value.goal }}</small>
        </p>
        <article class="card">
          <header class="card__header">
            <div style="display: flex; align-items: center;">
              {% include value.shape %}
              <h3 style="margin: 0 0 0 var(--space-sm); font-family: var(--serif);">{{ value.heading }}</h3>
            </div>
          </header>
          <div class="card__body">
            <p>{{ value.desc }}</p>
          </div>
        </article>
      </li>
      {% endfor %}
    </ol>

    <figure class="col col--1of3 flex-end" style="margin-bottom: calc(var(--gutter) * -2); right: calc(var(--gutter) * 2);" data-aos="fade-up">
      <img src="../img/people/camille.svg"/>
      <figcaption style="position: absolute; bottom: var(--gutter); right: 0; " data-aos="fade-up" data-aos-delay="300">
        <strong>Camille Thomas</strong>
        <br/>OA.Works Supporter
        <br/>Scholarly Communication Librarian
        <br/>at Florida State University
      </figcaption>
    </figure>
  </div>
</section>
