<section class="bg-white border-top section section--quarter">
  <h2 class="label align-center">Funded by</h2>
  <ul class="row unstyled-list flex-center">
    {% for funder in funders %}
    <li class="col col--1of2 flex-center">
      <a href="{{ funder.url }}" target="_blank" rel="noopener" title="Go to {{ funder.name }}’s site">
        {% include {{ funder.logo }} %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
