{% comment %}Layouts for Markdown content{% endcomment %}

{% comment %}Datafile-based pages are displayed with a left sidebar{% endcomment %}
{%- if data_file -%}
<section class="row data-file{% if theme != 'dark' %} bg-white{% endif %}">
  <header class="col col--1of3">
    <div class="data-file__header-wrapper">
      <h1>{{ title }}</h1>
      {% if meta_description %}<p>{{ meta_description }}</p>{% endif %}
      {% include 'snippets/ellipsis.liquid' %}
      <div style="margin-top: var(--space-md);">
        {{ content }}
      </div>
    </div>
  </header>
  <div class="col col--2of3 data-file__content">
    {% assign dir = "partials/" %}
    {% assign ext = ".liquid" %}
    {% assign data_file = data_file | prepend: dir %}
    {% include {{ data_file | append: ext }} %}
  </div>
</section>
{%- endif -%}
