<section class="bg-white section section--quarter">
  <h2 class="font-serif label flex-center">In partnership with</h2>
  <ul class="row row--centered flex-center unstyled-list">
    {% assign delay_count = 0 %}
    {% for partner in partners %}
    {% assign delay_count = delay_count | plus: 100 %}
    <li class="col col--1of4" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
      <a href="{{ partner.url }}" title="{{ partner.name }}’s site" target="_blank" rel="noopener" class="flex-center bw">
        {% include partner.logo %}
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
