<ol class="unstyled-list row">
  {% assign delay_count = 0 %}
  {% for value in values %}
  {% assign delay_count = delay_count | plus: 100 %}
  <li class="col col--1of2 card-wrapper" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
    <p class="label label--secondary line-thru">
      <small class="line-thru__inner bg-black label">{{ value.goal }}</small>
    </p>
    <article class="card">
      <h3 class="card__header">
        <div class="card__icon">{% include value.shape %}</div>
        <span class="type-1">{{ value.heading }}</span>
      </h3>
      <div class="card__body">
        <p>{{ value.desc }}</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ol>
