<header style="margin-top: var(--space-md); color: var(--white);">
  <h1>About</h1>
  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/about/' %} tab--active{% endif %}">
        <a href="/about/">About</a>
      </li>
      <li class="tab{% if page.url == '/team/' %} tab--active{% endif %}">
        <a href="/team/">Team</a>
      </li>
      <li class="tab{% if page.url == '/values/' %} tab--active{% endif %}">
        <a href="/values/">Our values</a>
      </li>
      <li class="tab{% if page.url == '/by-the-numbers/' %} tab--active{% endif %}">
        <a href="/by-the-numbers/">By the numbers</a>
      </li>
    </ul>
  </nav>
</header>
