<!doctype html>
<html class="no-js" lang="en">

<head>
  {% include 'head.html' %}
</head>

<body>
  <!--[if IE]>
  <p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% include 'header.html' %}

  <main>
    {{ content }}
  </main>

  {% include 'footer.html' %}

  <script src="https://unpkg.com/feather-icons"></script>

  <script>
  // Use Feather icons
  feather.replace()

  // Snap to sections
  const gra = function(min, max) {
    return Math.random() * (max - min) + min;
  }

  const gri = function(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  const init = function(){
    let items = document.querySelectorAll('main .section');
    cssScrollSnapPolyfill()
  }
  init();

  </script>
