<footer class="row footer">
  <a class="top" href="#top" id="topBtn" aria-label="Back to top">
    <span class="top__emoji">👆</span>
  </a>

  <nav class="col col--2of3">
    <div class="row">
      <div class="col col--1of2">
        <h2 class="label">Products</h2>
        <ul>
          {% for product in products %}
          <li>
            <a href="https://{{ product.name }}" target="_blank" rel="noopener">
              {{ product.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col col--1of2">
        <h2 class="label">About</h2>
        <ul>
          {% for utility in utilities %}
          <li>
            <a href="{{ utility.url }}" target="_blank" rel="noopener">
              {{ utility.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col footer__legal">
        <h2 class="sr-only">Legal</h2>
        <ul>
          {% for link in footer %}
          <li>
            <a href="{{ link.url }}" target="_blank" rel="noopener">
              {{ link.heading }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="col col--1of3 flex-end flex-col footer__logo">
    <a href="/" style="display: block; margin-bottom: var(--space-md);">{% include 'logos/logotype.svg' %}</a>
    <p class="type-6 align-right">
      <small>
        <a href="https://github.com/OAButton/" target="_blank" rel="noopener">Open source</a> • Community-controlled • Not-for-profit
      </small>
    </p>
  </div>
</footer>

{% comment %}Include lazylinepainter{% endcomment %}
<script src="js/lazy-line-painter-1.9.6.min.js"></script>
{% comment %}Include AOS{% endcomment %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script type="text/javascript">
  // Initialise AOS
  AOS.init();

  // Randomly display testimonials
  var testimonials = document.getElementsByClassName("testimonial");
  var random = Math.floor(Math.random() * testimonials.length);

  for(var i = 0; i < testimonials.length; i++){
    testimonials[i].style.display = (i==random) ? "flex" : "none";
  };

  // Paint SVGs
  (function(){

    document.onreadystatechange = function() {
      if (document.readyState === 'complete') {
        let el1 = document.querySelector('#introellipse');
        let myAnimation1 = new LazyLinePainter(el1, {"ease":"easeInOutCubic","strokeWidth":100,"strokeOpacity":1,"strokeColor":"#0075FF","strokeCap":"square"});
        myAnimation1.paint();

        let el2 = document.querySelector('#introtriangle');
        let myAnimation2 = new LazyLinePainter(el2, {"ease":"easeInOutCubic","strokeWidth":100,"strokeOpacity":1,"strokeColor":"#00FFD1","strokeCap":"square","delay":500});
        myAnimation2.paint();

        let el3 = document.querySelector('#introsquiggle');
        let myAnimation3 = new LazyLinePainter(el3, {"ease":"easeInOutCubic","strokeWidth":90,"strokeOpacity":1,"strokeColor":"#DBFF00","strokeCap":"square","delay":1500});
        myAnimation3.paint();
      }
    }

    window.onscroll = function() {
      // Add class to shapes when scrolling away from cover
      var svgShapes = document.getElementsByClassName("lazy-line-painter");

      for (i = 0; i < svgShapes.length; i++) {
        if (window.pageYOffset > 75) {
          svgShapes[i].classList.add("scrolled");
        }
        else {
          svgShapes[i].classList.remove("scrolled")
        };
      };
    };
  })();
</script>
