{% comment %} TODO: THE BELOW WOULD BE MEDIA LIKE NATURE ETC BUT JUST FEELING IT OUT {% endcomment %}
<section class="section section--quarter bg-white-15">
  <div class="row">
    <h2 class="col col--1of4 font-serif type-5">As seen in</h2>
    <ul class="col col--3of4 row">
      {% for partner in partners %}
      <li class="col col--group col--1of6">
        <a href="{{ partner.url }}" title="{{ partner.name }}’s site" target="_blank" rel="noopener" style="display: block;">
          {% include partner.logo %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
