---
layout: layouts/base.liquid
body_class: default
---

<section class="section section--horizontal row border-top markdown{% if theme != 'dark' %} bg-white{% endif %}">
  <header class="col col--1of3">
    <div class="markdown__header-wrapper">
      <h1>{{ title }}</h1>
      {% if meta_description %}<p>{{ meta_description }}</p>{% endif %}
      {% include 'snippets/ellipsis.liquid' %}
    </div>
  </header>

  <div class="col col--1of2 markdown__content">
    <section>
      {{ content }}
    </section>
  </div>
</section>
