---
layout: layouts/base.liquid
---

<nav class="subnav">
  <ul class="tabs">
    <li class="tab{% if page.url == '/impact/' %} tab--active{% endif %}">
      <a href="/impact/" class="label">Impact</a>
    </li>
    <li class="tab{% if page.url == '/impact/stories/' %} tab--active{% endif %}">
      <a href="/impact/stories/" class="label">Stories</a>
    </li>
  </ul>
</nav>

{% include 'snippets/markdown.liquid' %}
