---
layout: layouts/base.liquid
---

<header style="margin-top: var(--space-md);">
  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/impact/' %} tab--active{% endif %}">
        <a href="/impact/" class="label">Impact</a>
      </li>
      <li class="tab{% if page.url == '/impact/stories/' %} tab--active{% endif %}">
        <a href="/impact/stories/" class="label">Stories</a>
      </li>
      <li class="tab{% if page.url == '/impact/testimonials/' %} tab--active{% endif %}">
        <a href="/impact/testimonials/" class="label">Testimonials</a>
      </li>
    </ul>
  </nav>
</header>

{% include 'snippets/markdown.liquid' %}
