.button {
  padding: 1em 1.25em;
  border: 1px solid var(--black);
  border-radius: 3px;
  text-decoration: none;
  font-size: var(--typescale-6);
  transition: all .1s ease-in-out;
}

.button--primary {
  text-transform: uppercase;
  font-weight: 700;

  --initialTextColor: var(--white);
  --slideTextColor: var(--black);

  --initialBgColor: var(--black);
  --slideBgColor: var(--white);

  display: inline-block;
  background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .0015s linear;
    transition-delay: 0.0s, 0.15s;

  color: var(--initialTextColor);
  text-decoration: none;
}

.button--primary:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}

.button--secondary {
  text-transform: uppercase;
  font-weight: 700;
}

.button--secondary:hover {
  background: linear-gradient(140deg, var(--black), var(--mid-grey));
  background-size: 200% 200%;
  animation: bg-slide 2s ease-in-out infinite;
  color: var(--white);
}
