.card {
  margin-bottom: calc(var(--gutter) * 2);
  border: .75px solid var(--black);
}

.card--small {
  min-height: 33vh;
  font-size: var(--typescale-6);
}

.card--small .card__header,
.card--small .card__body,
.card--small .card__footer {
  padding: var(--space-sm);
}

.card__header {
  padding: var(--space-md);
  background: var(--black);
  color: var(--white);
  overflow-wrap: break-word;
}

.card__header--plain {
  border-bottom: .75px solid;
  background: transparent;
  color: var(--black);
}

h2.card__header,
h3.card__header,
h4.card__header,
h5.card__header {
  margin: 0;
  font-size: 1em;
}

.card__header svg {
  display: block;
  height: 30px;
  width: auto;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: var(--space-md);
  overflow: hidden;
}

.card__body p:last-child {
  margin-bottom: 0;
}

.card__footer {
  border-top: .75px solid;
  text-align: right;
}

.card__footer a {
  --initialTextColor: var(--white);
  --slideTextColor: var(--black);

  --initialBgColor: var(--black);
  --slideBgColor: var(--white);

  display: inline-block;
  padding: var(--space-md);
  border-left: .75px solid;
  background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .0015s linear;
    transition-delay: 0.0s, 0.15s;

  color: var(--initialTextColor);
  text-decoration: none;
}

.card__footer a:hover {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}

.card--inverted {
  border-color: var(--white);
}

.card--inverted .card__body a {
  display: inline-block;
  text-decoration: none;
  transition: color .25s;
}

.card--inverted .card__body a:after {
  display: block;
  width: 100%;
  height: .75px;
  transition: width 0.25s;
  content: '';
  border-bottom: .75px solid var(--white);
}

.card--inverted .card__body a:hover:after {
  width: 0%;
}

.card--inverted .card__header {
  background: var(--white);
  color: var(--black);
}

.card--inverted .card__header--plain {
  background: var(--black);
  color: var(--white);
}

.card > a .card__header {
  --initialTextColor: var(--white);
  --slideTextColor: var(--black);

  --initialBgColor: var(--black);
  --slideBgColor: var(--white);

  display: inline-block;
  padding: var(--space-md);
  background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%);
    background-size: 200%;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63),
    color .0015s linear;
    transition-delay: 0.0s, 0.15s;

  color: var(--initialTextColor);
  text-decoration: none;
}

.card > a:hover .card__header {
  color: var(--slideTextColor);
  cursor: pointer;
  background-position: -100% 100%;
}

.card > a .card__img {
  filter: grayscale(100%);
  transform: scale(1);
  transition: all .5s;
}

.card > a:hover .card__img {
  filter: none;
  transform: scale(1.05);
}
