*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

article {
  display: block;
}

ul, ol {
  list-style: none;
  padding: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--typescale-6);
}

iframe {
  width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  margin-bottom: var(--space-md);
}

em, i {
  font-family: 'InterItalic';
}

blockquote {
  margin: var(--space-md) 0;
}

cite {
  font-style: normal;
}

img {
  max-width:  100%;
}

svg {
  display: block;
}

hr {
  border: 1px solid;
  width: 50vw;
}

.inverted {
  background-color: var(--black);
  color: var(--white);
}

.inverted a {
  color: var(--white);
}

.inverted .logotype path {
  fill: var(--white);
}
