*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--black);
  color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
}

article {
  display: block;
}

ul, ol {
  margin-bottom: var(--space-md);
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

figcaption {
  padding: var(--space-xs);
  background: var(--black-75);
  text-align: right;
  color: var(--white);
  font-size: var(--typescale-6);
}

iframe {
  width: 100%;
  border: 0;
}

a {
  text-decoration: none;
  color: var(--white);
}

em, i {
  font-family: 'InterItalic';
}

blockquote {
  margin: var(--space-md) 0;
}

cite {
  font-style: normal;
}

img {
  max-width:  100%;
}

svg {
  display: block;
}

hr {
  border: 1px solid;
  width: 50vw;
}
