/* Grid: to be used for general layout only */

body {
  padding: 0 var(--gutter);
  margin: 0 auto;
  max-width: 100%;

  /* background-image:
    linear-gradient(90deg, transparent, transparent 16.6666667%, var(--light-grey) 16.6666667%, transparent calc(16.6666667% + 1.5px)),
    linear-gradient(90deg, transparent, transparent 33.3333333%, var(--light-grey) 33.3333333%, transparent calc(33.3333333% + 1.5px)),
    linear-gradient(90deg, transparent, transparent calc(50% - 1.5px), var(--light-grey) 50%, transparent 0),
    linear-gradient(90deg, transparent, transparent calc(66.6666667% - 1.5px), var(--light-grey) 66.6666667%, transparent 0),
    linear-gradient(90deg, transparent, transparent calc(83.3333333% - 1.5px), var(--light-grey) 83.3333333%, transparent 0); */
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
}

.row--centered {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .row {
    flex-direction: row;
  }
}

.col {
  flex: 0 0 auto;
  padding: 0 var(--gutter);
  flex-basis: 100%;
  max-width: 100%;
}

.col--group {
  padding: 0;
}

.col--1of1,
.col--2of2,
.col--3of3,
.col--4of4,
.col--6of6 {
  flex-basis: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col--1of4 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--3of4 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col--1of2,
  .col--2of4,
  .col--3of6 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col--1of3,
  .col--2of6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--1of6 {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }

  .col--2of3,
  .col--4of6 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col--5of6 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .col--1of4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col--3of4 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col--1of2,
  .col--2of4,
  .col--3of6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col--1of3,
  .col--2of6 {
    flex-basis: 33.3333333%;
    max-width: 33.3333333%;
  }

  .col--1of6 {
    flex-basis: 16.6666667%;
    max-width: 16.6666667%;
  }

  .col--2of3,
  .col--4of6 {
    flex-basis: 66.6666667%;
    max-width: 66.6666667%;
  }

  .col--5of6 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }
}
