.header {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--gutter-negative);
  padding: 2.5vh var(--gutter);
  z-index: 10;
  height: 10vh;
  width: 100vw;
  background-color: var(--black);
  font-size: var(--typescale-6);
}

.header .logotype {
  display: block;
  height: 5vh;
  width: auto;
}

.header .logotype path:last-child {
  animation: flash 4s ease infinite;
}

.header__nav {
  display: none;
  padding: var(--space-md);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 100%;
  background-color: var(--violet);
  font-size: var(--typescale-2);
}

@media only screen and (min-width: 768px) {
  .header__nav {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) {
  .header__nav {
    width: 50%;
  }
}

.header__nav a {
  color: var(--black);
}

.header__nav--open {
  display: block;
}

.header__nav-trigger {
  z-index: 15;
}

.header--inverted svg path  {
  fill: var(--white);
}

.header--inverted,
.header--inverted a {
  color: var(--white);
}
