.header {
  display: flex;
  padding: 2.5vh 0;
  height: 10vh;
  width: 100%;
  font-size: var(--typescale-6);
}

.header h1 {
  margin: 0;
}

.header svg {
  display: block;
  height: 5vh;
  width: auto;
}

.header svg:hover path:last-child {
  animation: flash 4s ease infinite;
}

.header nav a {
  margin-left: 2em;
  text-decoration: none;
  text-align: right;
}

.header > a {
  width: 25%;
}

.header > nav {
  width: 75%;
  text-align: right;
}
