.header {
  display: flex;
  position: fixed;
  margin: 0 var(--gutter-negative);
  padding: 2.5vh var(--gutter);
  z-index: 10;
  height: 10vh;
  width: 100%;
  background-color: var(--black);
  font-size: var(--typescale-6);
}

.header svg {
  display: block;
  height: 5vh;
  width: auto;
}

.header svg path:last-child {
  animation: flash 4s ease infinite;
}

.header nav {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.header nav a {
  margin-left: 2em;
  text-decoration: none;
  text-align: right;
}

.header > a {
  width: 25%;
}

.header > nav {
  width: 75%;
  text-align: right;
}

.header--inverted svg path  {
  fill: var(--white);
}

.header--inverted,
.header--inverted a {
  color: var(--white);
}
