.values svg {
  height: 50px;
}

.testimonials li:not(:first-child) {
  margin-top: var(--space-md);
}

.testimonials blockquote p:first-child {
  font-size: var(--typescale-5);
}

.testimonials blockquote p:last-child {
  font-size: var(--typescale-6);
}
