.lazy-line-painter {
  width: 50vw;
  height: auto;
}

.lazy-line-painter path,
.lazy-line-painter circle {
  transition: stroke .25s ease-in-out;
}

.lazy-line-painter.scrolled path,
.lazy-line-painter.scrolled circle {
  stroke: var(--black-15) !important;
  transition: stroke .25s ease-in-out;
}

.products li {
  position: -webkit-sticky;
  position: sticky;
  height: 85vh;
  top: 15vh;
}

.products article,
.products aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.values svg {
  height: 50px;
}

.testimonials blockquote p:first-child {
  font-size: var(--typescale-5);
}

.testimonials blockquote p:last-child {
  font-size: var(--typescale-6);
}

.testimonials li {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.testimonials article {
  /* background-color: var(--black); */
  /* background: linear-gradient(0deg, hsl(17, 10%, 13%) 85%, rgba(0, 0, 0, 0) 100%); */
}

.testimonials .portrait {
  margin-bottom: var(--gutter-negative);
  position: absolute;
  height: 100%;
  bottom: 0;
  /* background-color: var(--black); */
  /* background: linear-gradient(0deg, hsl(17, 10%, 13%) 75%, rgba(0, 0, 0, 0) 100%); */
}
