.products li {
  min-height: 100vh;
  bottom: 15vh;
}

@media only screen and (min-width: 1024px) {
  .products li:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.cover {
  margin: 0 var(--gutter-negative);
  padding: 0 var(--gutter);
  overflow-x: hidden;
  background: url('../img/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
}
