.markdown ul, ol {
  padding-left: var(--space-xs);
  margin-bottom: var(--space-md);
}

.markdown ul li:before {
  display: inline-block;
  margin-right: var(--space-xs);
  margin-bottom: .15em;
  content: '';
  box-sizing: border-box;
  width: .35em;
  height: .35em;
  border-radius: 50%;
}

.markdown ul li:nth-of-type(6n+1):before {
  background-color: var(--azure);
}

.markdown ul li:nth-of-type(6n+2):before {
  background-color: var(--carnation);
}

.markdown ul li:nth-of-type(6n+3):before {
  background-color: var(--mango);
}

.markdown ul li:nth-of-type(6n+4):before {
  background-color: var(--cyan);
}

.markdown ul li:nth-of-type(6n+5):before {
  background-color: var(--violet);
}

.markdown ul li:nth-of-type(6n+6):before {
  background-color: var(--chartreuse);
}

.markdown__header {
  margin-top: var(--space-md);
}

.markdown__content {
  margin-top: var(--space-md);
}
