.section {
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
  padding: var(--gutter) var(--gutter) 0 var(--gutter);
  min-height: 100vh;
  background-color: var(--white);
}

.section--transparent {
  background-color: transparent;
}

.section--inverted {
  background-color: var(--black);
  color: var(--white);
}

.section--inverted a {
  color: var(--white);
}

.section--highlighted {
  background-color: var(--light-grey);
}

.section--half {
  min-height: 50vh;
}
