.section {
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
  padding: calc(var(--gutter) * 2);
  min-height: 100vh;
  background-color: var(--white);
}

.section--cover {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  background-color: transparent;
}

.section--see-thru {
  mix-blend-mode: saturation;
}

.section--dark {
  background-color: var(--dark-grey);
  color: var(--white);
}

.section--inverted {
  background-color: var(--black);
  color: var(--white);
}

.section--inverted a,
.section--dark a {
  color: var(--white);
  border-color: var(--white);
}

.section--highlighted {
  background-color: var(--light-grey);
}

.section--fourth {
  min-height: 25vh;
}

.section--half {
  padding: var(--gutter);
  min-height: 50vh;
}

.section--three-quarter {
  min-height: 75vh;
}
