.section--inverted {
  margin-left: var(--gutter-negative);
  margin-right: var(--gutter-negative);
  padding: var(--gutter) var(--gutter) 0 var(--gutter);
  background-color: var(--black);
  color: var(--white);
}

.section--inverted a {
  color: var(--white);
}

.section--highlighted {
  background-color: var(--light-grey);
}
