.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.font-serif {
  font-family: var(--serif);
}

.font-sans {
  font-family: var(--sans-serif);
}

.type-1 {
  font-size: var(--typescale-1);
}

.type-2 {
  font-size: var(--typescale-2);
}

.type-3 {
  font-size: var(--typescale-3);
}

.type-4 {
  font-size: var(--typescale-4);
}

.type-5 {
  font-size: var(--typescale-5);
}

.type-6 {
  font-size: var(--typescale-6);
}

.align-right {
  text-align: right;
}

.bg-white-15 {
  background-color: var(--white-15);
}

.bg-black {
  display: inline-block;
  background-color: var(--black-85);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
