---
layout: "layouts/base.liquid"
---

<section class="section bg-black" id="products">
  <h2>Featured products</h2>
  <ul class="row row--centered">
    {% assign delay_count = 0 %}
    {%- for product in products -%}
    {%- if product.featured -%}
    {% assign delay_count = delay_count | plus: 100 %}
    <li class="col col--1of3 card-wrapper" data-sal="slide-up" data-sal-delay="{{ delay_count }}">
      <p class="label label--secondary line-thru">
        <small class="line-thru__inner bg-black label">{{ product.label }}</small>
      </p>
      <article class="flex-col flex-space-between card">
        <header class="card__header">
          <h3 class="sr-only">{{ product.name }}</h3>
          {% include product.logo %}
        </header>
        <div class="card__body">
          <h4 class="type-2">{{ product.tagline }}</h4>
          <p>{{ product.description }}</p>
        </div>
        <footer class="card__footer">
          <a href="{{ product.url }}"
             target="_blank"
             rel="noopener"
             style="--slideBgColor: var(--{{ product.colour }}); --slideTextColor: var(--black);"
          >
            {{ product.cta }}
          </a>
        </footer>
      </article>
    </li>
    {%- endif -%}
    {%- endfor -%}
  </ul>
</section>

<aside data-sal="slide-up">
  {% include 'snippets/coverage.liquid' %}
  {% include 'snippets/partnerships.liquid' %}
</aside>

<section class="section section--half bg-black">
  <h2 class="sr-only">Testimonials</h2>
  <ul class="no-margin testimonials">
    {% for t in testimonials %}
    {%- if t.featured -%}
    <li class="row row--centered flex-end testimonial" style="display: none;">
      <figure class="col col--1of4 flex-end flex-col" data-sal="slide-up" data-sal-delay="50">
        <header>
          <p class="label label--secondary line-thru">
            <small class="line-thru__inner bg-black label">Our partner for</small>
          </p>
          <h3> {{ t.product }}</h3>
        </header>
        <img class="portrait" src="img/{{ t.img }}" alt="{{ t.img_alt }}" width="500" height="500"/>
        <figcaption class="bg-black-85" style=" margin-top: -125px;">
          <a href="{{ t.aff_url }}" title="{{ t.affiliation }}’s site" target="_blank" rel="noopener" style="display: block;">
            {% include t.aff_logo %}
          </a>
        </figcaption>
      </figure>
      <article class="col col--2of4 flex-col border-left" data-sal="slide-up" data-sal-delay="150">
        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 0 var(--space-md) var(--space-md) 0; width: 50px; height: 50px;" aria-hidden="true">
          <path d="M15.9197 8.41943C15.9197 12.5616 12.5618 15.9194 8.41968 15.9194C4.27754 15.9194 0.919678 12.5616 0.919678 8.41943C0.919678 4.2773 4.27754 0.919434 8.41968 0.919434C12.5618 0.919434 15.9197 4.2773 15.9197 8.41943Z" fill="var(--{{ t.colour }})"/>
        </svg>
        <blockquote>
          <p class="type-3">“{{ t.quote }}”</p>
          <footer class="type-5">
            <cite>
              — <strong>{{ t.name }}</strong><br/><br/>{{ t.role }}, <a href="{{ t.aff_url }}" title="{{ t.affiliation }}’s site" target="_blank" rel="noopener">{{ t.affiliation }}</a>
            </cite>
          </footer>
        </blockquote>
      </article>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

{% include 'snippets/blog.liquid' %}

<section class="section section--quarter bg-white">
  <div class="row">
    <article class="col col--1of2" data-sal="slide-up" data-sal-delay="50">
      <h3 class="type-1 line-thru">
        <span class="line-thru__inner bg-white">{{ about.journey_heading }}</span>
      </h3>
      <p class="type-4">{{ about.journey_content }}</p><br/><br/><br/>
      <a class="button button--primary" href="/about/">{{ about.journey_cta }}</a>
    </article>
    <aside class="col col--1of2" data-sal="slide-up" data-sal-delay="150">
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/OA_Button?ref_src=twsrc%5Etfw">Tweets by OA_Button</a>
      <script async charset="utf-8" src="https://platform.twitter.com/widgets.js">
      </script>
    </aside>
  </div>
</section>

{% include 'snippets/stories.liquid' %}

{% block extra_js %}
<script>
  // Randomly display testimonials
  var testimonials = document.getElementsByClassName("testimonial");
  var random = Math.floor(Math.random() * testimonials.length);

  for(var i = 0; i < testimonials.length; i++){
    testimonials[i].style.display = (i==random) ? "flex" : "none";
  };
</script>
{% endblock %}
