<header style="margin-top: var(--space-md); color: var(--white);">
  <h2 class="font-sans">
    About
    {% if data_file %}
    <!-- <sup>
      <small>
        <a href="https://github.com/OAButton/oa-works/blob/main/_data/{{ data_file }}.json" target="_blank" rel="noopener">Edit</a>
      </small>
    </sup> -->
    {% endif %}
  </h2>

  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/about/' %} tab--active{% endif %}">
        <a href="/about/">About</a>
      </li>
      <li class="tab{% if page.url == '/vision/' %} tab--active{% endif %}">
        <a href="/vision/">Vision</a>
      </li>
      <li class="tab{% if page.url == '/values/' %} tab--active{% endif %}">
        <a href="/values/">Values</a>
      </li>
      <li class="tab{% if page.url == '/impact/' %} tab--active{% endif %}">
        <a href="/impact/">Impact</a>
      </li>
      <li class="tab{% if page.url == '/history/' %} tab--active{% endif %}">
        <a href="/history/">History</a>
      </li>
      <li class="tab{% if page.url == '/team/' %} tab--active{% endif %}">
        <a href="/team/">Team</a>
      </li>
      <li class="tab{% if page.url == '/partners/' %} tab--active{% endif %}">
        <a href="/partners/">Partners</a>
      </li>
      <li class="tab{% if page.url == '/funders/' %} tab--active{% endif %}">
        <a href="/funders/">Funders</a>
      </li>
    </ul>
  </nav>
</header>
