<h2 class="font-serif label flex-center" data-aos="fade-up">Covered in</h2>
<ul class="row row--centered flex-center unstyled-list">
  {% assign delay_count = 0 %}
  {% for item in coverage %}
  {% assign delay_count = delay_count | plus: 50 %}
  <li class="col col--1of6" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
    <a href="{{ item.url }}" title="{{ item.name }}’s site" target="_blank" rel="noopener" class="bw">
      {% include item.logo %}
    </a>
  </li>
  {% endfor %}
</ul>
