<ul class="row team col col--2of3">
  {% assign delay_count = 0 %}
  {% for person in team %}
  {% assign delay_count = delay_count | plus: 100 %}
  <li class="col col--1of3" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
    <article class="card card--small">
      <p class="card__header card__header--plain label">{{ person.role }}</p>
      <div class="card__body">
        <h2 class="font-sans type-4">{{ person.name }}</h2>
        <p>{{ person.bio }}</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
