<ol class="row values">
  {% assign delay_count = 0 %}
  {% for value in values %}
  {% assign delay_count = delay_count | plus: 100 %}
  <li class="col col--1of2" data-aos="fade-up" data-aos-delay="{{ delay_count }}">
    <p class="label label--secondary line-thru" style="margin-bottom: var(--space-xs); color: var(--mid-grey);">
      <small class="line-thru__inner label">{{ value.goal }}</small>
    </p>
    <article class="card">
      <header class="card__header">
        <div style="display: flex; align-items: center;">
          {% include value.shape %}
          <h3 style="margin: 0 0 0 var(--space-sm);">{{ value.heading }}</h3>
        </div>
      </header>
      <div class="card__body">
        <p>{{ value.desc }}</p>
      </div>
    </article>
  </li>
  {% endfor %}
</ol>
