<section>
  <ul class="unstyled-list full-width-list">
    {% assign delay_count = 0 %}
    {% assign dir = "page_content/" %}
    {% assign ext = ".liquid" %}
    {% assign data_file = data_file | prepend: dir %}
    {% include {{ data_file | append: ext }} %}
  </ul>
</section>
