<section>
  <ul class="unstyled-list full-width-list">
    {% assign delay_count = 0 %}
    {% assign dir = "page_content/" %}
    {% assign ext = ".liquid" %}
    {% assign full_path = data_file | prepend: dir | append: ext %}
    {% include full_path %}
  </ul>
</section>
