---
layout: layouts/page.liquid
---

<header style="margin-top: var(--space-md);">
  <h2 class="font-sans">
    About
  </h2>

  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/about/' %} tab--active{% endif %}">
        <a href="/about/">About</a>
      </li>
      <li class="tab{% if page.url == '/vision/' %} tab--active{% endif %}">
        <a href="/vision/">Vision</a>
      </li>
      <li class="tab{% if page.url == '/values/' %} tab--active{% endif %}">
        <a href="/values/">Values</a>
      </li>
    </ul>
  </nav>
</header>
