---
layout: layouts/base.liquid
---

<header style="margin-top: var(--space-md);">
  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/about/' %} tab--active{% endif %}">
        <a href="/about/" class="label">About</a>
      </li>
      <li class="tab{% if page.url == '/about/vision/' %} tab--active{% endif %}">
        <a href="/about/vision/" class="label">Vision</a>
      </li>
      <li class="tab{% if page.url == '/about/values/' %} tab--active{% endif %}">
        <a href="/about/values/" class="label">Values</a>
      </li>
    </ul>
  </nav>
</header>

{% include 'snippets/markdown.liquid' %}
