<!doctype html>
<html class="no-js" lang="en">

<head>
  {% include 'snippets/head.liquid' %}
</head>

<body class="{% if theme == 'dark' %}inverted {% endif %}{% if body_class %}{{ body_class }}{% endif %}">
  <!--[if IE]>
  <p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {% include 'snippets/header.liquid' %}

  <main>
    {{ content }}
  </main>

  {% include 'snippets/footer.liquid' %}

  <script>
  // Snap to sections
  const gra = function(min, max) {
    return Math.random() * (max - min) + min;
  }

  const gri = function(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  const init = function(){
    let items = document.querySelectorAll('main .section');
    cssScrollSnapPolyfill()
  }
  init();

  </script>
