---
layout: layouts/base.liquid
body_class: default
---

<div class="row">
  <header class="col col--1of3">
    <h1>{{ title }}</h1>
  </header>

  <div class="col col--1of2" style="border-left: 1px solid;">
    <section style="padding-top: 0;">
      {{ content }}
    </section>
  </div>
</div>
