---
layout: layouts/base.liquid
---

<header style="margin-top: var(--space-md);">
  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/history/' %} tab--active{% endif %}">
        <a href="/history/" class="label">History</a>
      </li>
      <li class="tab{% if page.url == '/history/impact/' %} tab--active{% endif %}">
        <a href="/history/impact/" class="label">Impact</a>
      </li>
    </ul>
  </nav>
</header>

{% include 'snippets/markdown.liquid' %}
