---
layout: layouts/base.liquid
---

<header style="margin-top: var(--space-md);">
  <nav>
    <ul class="tabs">
      <li class="tab{% if page.url == '/people/' %} tab--active{% endif %}">
        <a href="/people/" class="label">Team</a>
      </li>
      <li class="tab{% if page.url == '/people/partners/' %} tab--active{% endif %}">
        <a href="/people/partners/" class="label">Partners</a>
      </li>
    </ul>
  </nav>
</header>

{% include 'snippets/markdown.liquid' %}
